#content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body{
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
}

nav{
    color: white;
    background-color: black;
    font-weight: bold;
    height: 5vh;
}

.restart{
    text-decoration: none;
    color: white;
}

.restart:hover{
    background-color: blue;
}

.logo{
    height: 20px;
}

.dark{
    background-color: black;
    color: white;
}

.tombol{
    color: yellow;
    font-weight: bold;
    background-color: blue;
}

.tombol:hover{
    background-color: skyblue;
    color: black;
}

.warning{
    background-color: black;
    color: yellow;
    text-align: center;
    height: 30vh;
    width: 208vh;
    
}
h1{
    color: #0000E0 ;
    height: 10vh;
    padding: 20px;
    
}

.text{
    color: yellow;
    background-color:#800000;
}
.center-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 55vh;
}

.footer{
    height: 30vh;
    padding: 10px;
    margin-top:10px ;
    margin-left: 0;
    margin-right: 0;
}