#content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
body{
    background-color: gray;
    color: black;
    margin: 0;
    padding: 0;
}

nav{
    color: white;
    background-color: black;
    font-weight: bold;
}

.restart{
    text-decoration: none;
    color: white;
}

.restart:hover{
    background-color: blue;
}

.logo{
    height: 20px;
}

.dark{
    background-color: black;
    color: white;
}

.tombol{
    color: yellow;
    font-weight: bold;
    background-color: blue;
}

.tombol:hover{
    background-color: crimson;
    color: orange;
}

.warning{
    display: flex;
    text-align: center;
    background-color: black;
    color: red;
    
}
h1{
    background-color: black;
    color: blue ;
}

.text{
    color: yellow;
    background-color: red;
}